#page{
width:455px;
margin:0 auto;
}

td{
font-family:arial;
color:#333;
padding:10px;
width:50px;
height:50px;
text-align:center;
border:10px solid #ddc;
background-color:#eee;
}

.bingohead{
border:10px solid #c2324c;
}

h1, h3, h3 a{
	font-family:arial;
	text-align:center;
	padding:3px;
	color:#211111;
	background-color:#EEEEEE;
	border:2px solid #DDDDCC;
}

td{
cursor:pointer;
}

#free{
	background-color:#fff;
	color:#eee;
	cursor:default;
}
